
.page-content{
  margin: auto;
  margin-top: auto;
}

.welcome-container {
    size: absolute;
    text-align: center;
    background-color: rgb(254, 250, 224);
    border: 10px solid rgb(52, 78, 65);
    border-radius: 10%;
    max-width: 500px;
    max-height: 350px;
    padding: 20px;
    margin: auto;
    margin-top: auto;
    text-align: center;
    font-family: 'Mulish', sans-serif;
  }

#name{
  font-size: 45px;
}

#welcome-txt{
  font-size: 30px;
}

/* h1 {
  text-align: center;
  font-size: 25.5vw;
}  */

/* Flexbox container */
.nav-parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  vertical-align: middle;
  /*background-color:rgb(254, 250, 224);*/
  border-radius: 15px;
  width: 450px;
  height: 50px;
  padding: 25px;
}

.bubble{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: 'Mulish', sans-serif;
  font-size: 16px;
  background-color: rgb(254, 250, 224);
  width: 100px;
  height: 50px;
  border: solid rgb(52, 78, 65) 2px;
  border-radius: 10px;
  text-align: center;
}
